/* 태그 선택자 : HTML 태그 이름을 그대로 사용 */
h2 {
  color: red;
}

/* 클래스 선택자: 점(.)으로 시작. 여러 요소에 '별명'을 붙여 그룹으로 꾸밀 때 사용*/
.highlight-text {
  background-color: beige;
}

/* 아이디 선택자: 샵(#)으로 시작. 페이지에서 '단 하나뿐인' 요소에 '이름표' 붙일때 사용 */
#blue-text {
  color: rgb(216, 179, 42);
}

/* 후손 선택자: 띄어쓰기로 구분. 특정 요소 '안에 있는' 모든 후손 선택 */
#lecture-list li {
  font-weight: bold;
}

/* 자손 선택자: > 기호로 구분. 특정 요소의 '바로 아래 자식'만 선택 */
body > p {
  font-size: 30px;
}

/* 속성 선택자: 특정 속성이나 속성값을 가진 요소를 선택 */
input[type='text'] {
  border: 2px solid orange;
}

/* 인접 형제 선택자: 바로 뒤에 이어지는 형제 요소를 선택 */
input[type='radio']:checked + label {
  font-weight: bold;
  color: blueviolet;
}
